:root {
    --dni-size-multiplier: 1;
}

@font-face {
    font-family: OCRB;
    src: url("/res/fonts/OCRB.otf") format("opentype");
}

#dni-card-container {
    width: calc(385px * var(--dni-size-multiplier));
    height: calc(250px * var(--dni-size-multiplier));
    perspective: 2000px;
}

#dni-card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    transform-style: preserve-3d;
    background-color: transparent;
    transition: transform .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

#dni-template>a {
    text-transform: uppercase;
}

.card__face {
    position: absolute;
    height: auto;
    width: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card__face--front {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transform: rotateY(180deg);
}

.card__face--back {
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    border-radius: 8px;
}

#dni-card.is-flipped {
    transform: rotateY(180deg);
}

#dni-template-front {
    background-image: url('../res/Amarok.jpg');
    background-size: 100%;
}

#dni-template-back {
    background-image: url('../res/Amarok-2.jpg');
    background-size: 100%;
}

.dni-param {
    filter: blur(0.45px);
    font-weight: normal;
    letter-spacing: 0.1px;
}

.dni-item {
    user-select: none;
    font-family: 'Arial', sans-serif;
    pointer-events: none;
}

#dni-surname {
    font-size: calc(10px * var(--dni-size-multiplier));
    position: absolute;
    left: calc(129px * var(--dni-size-multiplier));
    top: calc(49px * var(--dni-size-multiplier));
}

#dni-name {
    font-size: calc(10px * var(--dni-size-multiplier));
    position: absolute;
    left: calc(129px * var(--dni-size-multiplier));
    top: calc(75px * var(--dni-size-multiplier));
}

#dni-sex {
    font-size: calc(10px * var(--dni-size-multiplier));
    position: absolute;
    left: calc(129px * var(--dni-size-multiplier));
    top: calc(100px * var(--dni-size-multiplier));
}

#dni-birth {
    font-size: calc(10px * var(--dni-size-multiplier));
    position: absolute;
    left: calc(129px * var(--dni-size-multiplier));
    top: calc(127px * var(--dni-size-multiplier));
    letter-spacing: 0.5px;
}

#dni-issue {
    font-size: calc(10px * var(--dni-size-multiplier));
    position: absolute;
    left: calc(129px * var(--dni-size-multiplier));
    top: calc(155px * var(--dni-size-multiplier));
    letter-spacing: 0.5px;
}

#dni-expiration {
    font-size: calc(10px * var(--dni-size-multiplier));
    position: absolute;
    left: calc(129px * var(--dni-size-multiplier));
    top: calc(180px * var(--dni-size-multiplier));
    letter-spacing: 0.5px;
}

#dni-tramite-num {
    font-size: calc(10px * var(--dni-size-multiplier));
    position: absolute;
    left: calc(129px * var(--dni-size-multiplier));
    top: calc(205px * var(--dni-size-multiplier));
    max-width: calc(70px * var(--dni-size-multiplier));
    overflow: visible;
    word-wrap: break-word;
    letter-spacing: 0.5px;
}

#dni-image {
    height: calc(143px * var(--dni-size-multiplier));
    width: calc(115px * var(--dni-size-multiplier));
    position: relative;
    top: calc(49px * var(--dni-size-multiplier));
    left: calc(10px * var(--dni-size-multiplier));
    object-fit: cover;
    filter: blur(0.2px);
}

#dni-firma {
    height: calc(25px * var(--dni-size-multiplier));
    width: calc(60px * var(--dni-size-multiplier));
    position: absolute;
    top: calc(120px * var(--dni-size-multiplier));
    right: calc(25px * var(--dni-size-multiplier));
    object-fit: contain;
    filter: blur(0.2px);
}

#dni-qr {
    position: absolute;
    width: calc(140px * var(--dni-size-multiplier));
    height: calc(40px * var(--dni-size-multiplier));
    background-color: white;
    bottom: 15px;
    right: 15.5px;
    filter: blur(0.3px)
}

#dni-number {
    font-size: calc(20px * var(--dni-size-multiplier));
    position: absolute;
    left: calc(12.5px * var(--dni-size-multiplier));
    bottom: calc(20px * var(--dni-size-multiplier));
    filter: blur(0.45px);
    font-weight: 600;
    letter-spacing: -0.5px;
}

#dni-ejemplar {
    font-size: calc(10px * var(--dni-size-multiplier));
    position: absolute;
    right: calc(57px * var(--dni-size-multiplier));
    top: calc(100px * var(--dni-size-multiplier));
}

#dni-address {
    font-size: calc(10.5px * var(--dni-size-multiplier));
    position: absolute;
    left: calc(15px * var(--dni-size-multiplier));
    top: calc(11px * var(--dni-size-multiplier));
    filter: blur(0.35px);
    letter-spacing: -0.65px;
}

#dni-mrz {
    font-size: calc(16px * var(--dni-size-multiplier));
    position: absolute;
    font-family: 'OCRB' !important;
    width: 100%;
    left: 0;
    right: 0;
    bottom: calc(11px * var(--dni-size-multiplier));
    filter: blur(0.35px);
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    white-space: pre-line;
    font-family: "Courier New", Courier, monospace;
    font-variant-numeric: tabular-nums;
}

@media screen and (max-width: 400px) {
    :root {
        --dni-size-multiplier: 0.85;
    }
}

@media screen and (max-width: 320px) {
    :root {
        --dni-size-multiplier: 0.8;
    }
}